<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Word Searching</title>
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<h1>I want to find words that...</h1>
		<form action="." method="get" novalidate>
			<ul id="filter-list">
			</ul>
			<button type="button" id="clear">
				Clear
			</button>
		</form>
		<hr>
		<h2 id="result-title">Results will show here</h2>
		<p id="result-content"></p>
		<button type="button" id="load-more" class="hidden"></button>
		
		<script src="/js/ajax-search.js"></script>
	</body>

</html>