<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Word Searching</title>
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<h1>I want to find words that...</h1>
		<form action="." method="get" novalidate>
			<ul>
				<li>
					<select name="filter" id="filter">
						<option value="start"
							<% if(locals.query && query["filter"] === "start") { %>
								selected
							<% } %>
						>
							start with
						</option>
						<option value="end"
							<% if(locals.query && query["filter"] === "end") { %>
								selected
							<% } %>
						>
							end with
						</option>
					</select>
					<input type="text" name="with" id="with" pattern="^[A-Za-z]+$" maxlength="30" autocomplete="off"
						<% if(locals.query) { %>
							value="<%= String(query["with"]).substring(0, 30) %>"
						<% } %>
						<% if(locals.errors) { %>
							class="error"
						<% } %>
					>
					<p class="error-list"></p>
				</li>
			</ul>
		</form>
		<h2 id="result-title">Results will show below</h2>
		<p id="result-content"></p>
		<p>
			<span id="load-more" class="hidden">Load more</span>
		</p>
		
		<script src="/js/ajax-search.js"></script>
	</body>

</html>